*,
::before,
::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #222;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  background: transparent;
  border: 0;
  font: inherit;
}
